Flask==3.0.3
flask-cors==4.0.1
gunicorn==21.2.0
Werkzeug==3.0.3
gdown==5.2.0
numpy==1.26.4
torch==2.2.2
torchvision==0.17.2
opencv-python-headless==4.10.0.84
Pillow==10.4.0
pdf2image==1.17.0
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.14.1
matplotlib==3.9.2