flask==3.0.3
flask-cors==4.0.1
gunicorn==21.2.0
numpy==1.26.4
pillow==10.3.0
opencv-python-headless==4.10.0.84
pdf2image==1.17.0
werkzeug==3.0.3
gdown==5.2.0
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu